span.sched-form-label {
  display: inline-block;
  width: 10em;
  text-align: right;
}

table#sched-table {
  font-family: sans;
  border: 1px solid black;
}

table#sched-table th {
  padding: 5px 10px 5px 10px;
  color: #eee;
  background: #444;
}

table#sched-table td {
  text-align: center;
  font-size: smaller;
  height: 0px;
}

table.sched-cell {
  display: inline-table;
}

table.sched-cell td div[space] {
  display: inline-block;
  width: 50px;
  height: 50px;
}

table.sched-cell td div[subject] {
}

table.sched-cell td div[subject-type] {
  font-style: italic;
}

table.sched-cell td div[group] {
  font-weight: bold;
  font-style: italic;
}

table.sched-cell td div[prof] {
  font-size: smaller;
  font-weight: bold;
}
